@page "/adminStatsProjectTime"

@using EduWork.UI.Components

<PageTitle>Admin Project Statistics</PageTitle>

<h1>Admin Project Statistics</h1><br/>

<ProjectTimeStats ApiEndpoint="api/ProjectTimes/adminFilter" />