@page "/"
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override Task OnInitializedAsync()
    {
        InvokeAsync(() =>
           NavigationManager.NavigateTo($"/inputProjectTime/{DateTime.Now.ToString("MM-dd-yyyy")}")
       );

        return Task.CompletedTask;
    }
}