::deep .edit-mode {
    background-color: #f0f8ff;
    border: 1px solid #0000ff;
    padding: 15px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}

.form-section {
    flex: 1;
    min-width: 40%;
}

.table-section {
    flex: 2;
}

::deep .spanSumOfTimeSpent {
    border: 1px solid;
    padding: 5px;
    border-bottom: 0;
    font-size: 1.1em;
}

::deep .labelSumOfTimeSpent {
    font-weight: bold;
}

::deep .input-group-horizontal {
    display: flex;
    align-items: center;
    gap: 20px;
}

    ::deep .input-group-horizontal .form-group {
        flex: 1;
        margin: 0 8px;
    }

    ::deep .input-group-horizontal .form-control {
        width: 80px;
    }

::deep .range-container {
    flex: 1;
}

::deep .workdayFlex {
    margin-right: 20px;
    flex: 1;
    max-width:40%;
}

::deep .projectFlex {
    flex: 1;
}

.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.progress {
    flex-grow: 1;
}