h1{
    color: white;
    font-weight: bold;
}

.loginForm {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    background: rgba(255, 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

::deep input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.alert {
    color: red;
    margin-bottom: 10px;
}
