@page "/logout"

@using EduWork.UI.States
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavManager

@attribute [Authorize]

<h1>Logout</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null!);

        NavManager.NavigateTo("/", forceLoad: true);
    }
}