@page "/userStatsProjectTime"
@using Common.DTO
@using System.Linq;
@inject HttpClient Http

<PageTitle>User Project Statistics</PageTitle>

<h1>User Project Statistics</h1>

<br />

<div class="row">
    <div class="col-md-6">
        @if (projectTimeResponse == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th style="text-align: right;">Trajanje (minute)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sum in projectTimeResponse.ProjectTimeSums)
                    {
                        <tr style="@(sum.IsPayable ? "" : "color: red")">
                            <td>@sum.TitleProject</td>
                            <td style="text-align: right;">@sum.SumTimeSpent</td>
                        </tr>
                    }
                    <tr>
                        <td><strong>Ukupno</strong></td>
                        <td style="text-align: right;">@projectTimeResponse.SumAllProjectTimes</td>
                    </tr>
                </tbody>
            </table>

            <div style="margin-top: 20px;">
                <ul style="list-style-type: none; padding: 0;">
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: red;"></span>
                        <span>Ne plaćen</span>
                    </li>
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: #2196F3;"></span>
                        <span>Edukacija</span>
                    </li>
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: #757575;"></span>
                        <span>Završen</span>
                    </li>
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: forestgreen;"></span>
                        <span>Privatan</span>
                    </li>
                </ul>
            </div>
        }
    </div>

    <div class="col-md-6" style="background-color: lightcyan; padding: 20px;">
        <div>
            <h3>Grafički prikaz</h3>
            <p>Ukupni broj projekata: @projectTimeResponse?.ProjectTimeSums.Count()</p>
        </div>
    </div>
</div>

<style>
    .legend-circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
    }
</style>

@code {
    private ProjectTimeResponseDto projectTimeResponse;

    protected override async Task OnInitializedAsync()
    {
        projectTimeResponse = await Http.GetFromJsonAsync<ProjectTimeResponseDto>("api/ProjectTimes/userFilter");
    }
}
