::deep .legend-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

::deep .education-row {
    background-color: #E0F7FA;
}

::deep .finished-row {
    color: gray;
}

::deep .table-striped tbody tr:nth-child(odd) {
    background-color: lightcyan;
}
