@using System.Security.Claims
@inherits LayoutComponentBase
<div class="page" style="background-image: linear-gradient(#134E5E, #71B280)">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.Identity?.Name!</span>
                    @* <span>[@context.User.Claims.FirstOrDefault(s=> s.Type == ClaimTypes.Role)!.Value]</span> *@

                    @if(context.User.IsInRole("Admin"))
                    {
                        <a href="register">Register user</a>
                    }

                    <a href="logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
