<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EduWork.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-clock customIcon" aria-hidden="true"></span> Unos vremena
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myInputHistory">
                <span class="bi bi-clock-history customIcon" aria-hidden="true"></span> Povijest unosa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myStatsProjectTime">
                <span class="bi bi-graph-up customIcon" aria-hidden="true"></span> Projektna statistika
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"profile/{context.User.Identity?.Name}")">
                    <span class="bi bi-person customIcon" aria-hidden="true"></span> Profil
            </NavLink>
        </div>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
        <hr class="nav-separator">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-people-fill customIcon" aria-hidden="true"></span> Korisnici
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adminInputHistory">
                <span class="bi bi-clock-history customIcon" aria-hidden="true"></span> Admin povijest
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adminStatsProjectTime">
                <span class="bi bi-graph-up customIcon" aria-hidden="true"></span> Admin statistika
            </NavLink>
        </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
