<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EduWork</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-clock customIcon" aria-hidden="true"></span> Input time
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myInputHistory">
                    <span class="bi bi-clock-history customIcon" aria-hidden="true"></span> Input history
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myStatsProjectTime">
                    <span class="bi bi-graph-up customIcon" aria-hidden="true"></span> Project statistics
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"profile/{context.User.Identity?.Name}")">
                    <span class="bi bi-person customIcon" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <hr class="nav-separator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="bi bi-people-fill customIcon" aria-hidden="true"></span> Users
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="adminInputHistory">
                    <span class="bi bi-clock-history customIcon" aria-hidden="true"></span> Admin history
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="adminStatsProjectTime">
                    <span class="bi bi-graph-up customIcon" aria-hidden="true"></span> Admin statistics
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
