<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EduWork.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inputProjectTime">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Input project time
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myInputHistory">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Input history
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myStatsProjectTime">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Project statistics
            </NavLink>
        </div>

        <AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"myProfile/{context.User.Identity?.Name}")">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My profile
            </NavLink>
        </div>
        </AuthorizeView>

        <hr class="nav-separator">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adminInputHistory">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin input history
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adminStatsProjectTime">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin project statistics
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
