@using EduWork.UI.Featues.ProjectTime
@using Common.DTO

@inject HttpClient Http

@using System.Linq;

@code {

    private ProjectTimeResponseDto? projectTimeResponse;

    private DateTime? fromDate;
    private DateTime? toDate;
    private string? username;
    private string? projectTitle;

    [Parameter]
    public string? ApiEndpoint { get; set; }

    [Parameter]
    public bool haveUsername { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadProjectTimesAsync();
    }

    private async Task LoadProjectTimesAsync()
    {
        string parameters;

        if (haveUsername)
        {
            parameters = $"fromDate={fromDate?.ToString("o")}&toDate={toDate?.ToString("o")}&username={username}&projectTitle={projectTitle}";
        }
        else
        {
            parameters = $"fromDate={fromDate?.ToString("o")}&toDate={toDate?.ToString("o")}&projectTitle={projectTitle}";
        }


        projectTimeResponse = await Http.GetFromJsonAsync<ProjectTimeResponseDto>($"{ApiEndpoint}?{parameters}");
    }

    private async Task ApplyFilter()
    {
        await LoadProjectTimesAsync();
    }
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <input type="date" class="form-control" @bind="fromDate" id="fromDate" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <input type="date" class="form-control" @bind="toDate" id="toDate" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" @bind="projectTitle" id="projectTitle" placeholder="Naziv projekta..." />
        </div>
    </div>

    @if (haveUsername)
    {
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" @bind="username" id="username" placeholder="Korisničko ime..." />
            </div>
        </div>
    }

</div>
<div class="col-md-3 col-sm-6 mt-3 mt-md-0">
    <br>
    <button class="btn btn-primary w-100" @onclick="ApplyFilter">Prikaži</button>
</div>

<br>
<div class="row">
    <div class="col-md-6">

        @if (projectTimeResponse == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th style="text-align: right;">Trajanje (minute)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sum in projectTimeResponse.ProjectTimeSums)
                    {
                        <tr>
                            <td>
                                @if (!sum.IsPayable)
                                {
                                    <span class="legend-circle" style="background-color: red;"></span>
                                }
                                @sum.TitleProject
                            </td>
                            <td style="text-align: right;">@sum.SumTimeSpent</td>
                        </tr>
                    }
                    <tr>
                        <td><strong>Ukupno</strong></td>
                        <td style="text-align: right;">@projectTimeResponse.SumAllProjectTimes</td>
                    </tr>
                </tbody>
            </table>

            <div style="margin-top: 20px;">
                <ul style="list-style-type: none; padding: 0;">
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: red;"></span>
                        <span>Ne plaćen</span>
                    </li>
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: #2196F3;"></span>
                        <span>Edukacija</span>
                    </li>
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: #757575;"></span>
                        <span>Završen</span>
                    </li>
                    <li style="display: inline-block; margin-right: 20px;">
                        <span class="legend-circle" style="background-color: forestgreen;"></span>
                        <span>Privatan</span>
                    </li>
                </ul>
            </div>
        }
    </div>

    <div class="col-md-6" style="background-color: lightcyan; padding: 20px;">
        <div>
            <h3>Grafički prikaz</h3>
            <p>Ukupni broj projekata: @projectTimeResponse?.ProjectTimeSums.Count()</p>
        </div>
    </div>
</div>

<style>
    .legend-circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
    }

    .table-striped tbody tr:nth-child(odd) {
        background-color: lightcyan;
    }
</style>
