@using Common.DTO.Profile

@inject NavigationManager NavigationManager

@if (User != null){
    <div class="container user-card">
        <div class="card">
            <div class="card-header">
                <div class="d-flex flex-row align-items-center">
                    <span id="personIcon" class="bi bi-person-vcard" aria-hidden="true"></span>
                    <div class="d-flex flex-column margin-left-20">
                        <p class="card-title">@User.Username</p>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <p>@User.Project.Title - @User.Project.Role</p>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary" @onclick="NavigateToProfile">View Profile</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public UserProfileDto? User { get; set; }

    private void NavigateToProfile()
    {
        if (User != null)
        {
            NavigationManager.NavigateTo($"/profile/{User.Username}");
        }
    }
}