body {
    background: #f9f9f9;
}

::deep .edit-mode {
    background-color: #f0f8ff;
    border: 1px solid #0000ff;
    padding: 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-section {
    flex: 1;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
}

.table-section {
    flex: 2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
}

.horizontal-flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-start;
}

::deep .spanSumOfTimeSpent {
    border: 1px solid;
    padding: 5px;
    border-bottom: 0;
    font-size: 1.1em;
}

::deep .labelSumOfTimeSpent {
    font-weight: bold;
}

::deep .range-container {
    flex: 1;
}

::deep .workdayFlex {
    flex: 1;
    max-width: 250px;
    min-width: 200px;
}

::deep .divFlex {
    flex: 1;
    display: flex;
    flex-direction: column;
}

::deep .formBtn {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    max-width: 150px;
}

::deep .timeSpentField {
    flex: 0 0 auto;
    max-width: 60px;
}

.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.progress {
    flex-grow: 1;
    height: 23px;
    font-size: 0.9em;
}