::deep .edit-mode {
    background-color: #f0f8ff;
    border: 1px solid #0000ff;
    padding: 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.glass {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.form-section {
    flex: 1;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.table-section {
    flex: 2;
    padding: 20px;
    border-radius: 5px;
}

.horizontal-flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-start;
}

::deep .spanSumOfTimeSpent {
    border: 1px solid;
    padding: 5px;
    border-bottom: 0;
    font-size: 1.1em;
}

::deep .labelSumOfTimeSpent {
    font-weight: bold;
}

::deep .range-container {
    flex: 1;
    margin-top: auto;
}

::deep .workdayFlex {
    flex: 1;
    max-width: 250px;
    min-width: 200px;
}

::deep .divFlex {
    flex: 1;
    display: flex;
    flex-direction: column;
}

::deep .formBtn {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    max-width: 120px;

}

::deep .timeSpentField {
    flex: 0 0 auto;
    max-width: 60px;
}

.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.progress {
    flex-grow: 1;
    height: 23px;
    font-size: 0.9em;
}

#nonWorkingDayDiv {
    text-align: center;
    font-size: 1.2rem;
    font-weight:bold;
}