.smallGrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
}

.flex-container {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

::deep .fixed-size {
    width: auto;
    max-width: 300px;
}

.divClass {
    background: white;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.btn {
    flex: 0 0 auto;
}

.legendItem {
    display: inline-block;
    margin-right: 15px;
}

.legend-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

    .legend-circle.red {
        background-color: red;
    }

    .legend-circle.lightyellow {
        background-color: lightgoldenrodyellow;
    }

    .legend-circle.forestgreen {
        background-color: forestgreen;
    }

    .legend-circle.gray {
        background-color: #757575;
    }

.form-control {
    max-width: 200px;
}

.table {
    margin-top: 10px;
}

    .table th, .table td {
        padding: 10px;
    }
